doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Some animation
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='css/style.css')
	body
		div.page__container
			div.md__layout-row.md__theme--default
				div.md__aside.md__theme--default
					div.userinfo
						img.userinfo__img(src='/img/kyle-ledbetter-600@2x.png')
						div.userinfo__text
							p.userinfo__text--name Kyle Ledbetter
							a.userinfo__text--email(href='mailto:kyle@kyleledbetter.com') kyle@kyleledbetter.com
							button.ax__button.userinfo__text--toggl
					div.actions
						ul.actions__list--top
							li.actions__list--item
								div.item__container.button__active
									div.item__container--content
										i.item__icon
											img(src='/img/access-time.svg')
										span.item__text Recent Contacts
							li.actions__list--item
								div.item__container.button__clean
									div.item__container--content
										i.item__icon
											img(src='/img/archive-2.svg')
										span.item__text Archive
							li.actions__list--item
								div.item__container.button__clean
									div.item__container--content
										i.item__icon
											img(src='/img/done-2.svg')
										span.item__text Replied

						ul.actions__list--common
							li.actions__list--item
								div.item__container.button__clean
									div.item__container--content
										i.item__icon
											img(src='/img/send-2.svg')
										span.item__text Sent
							li.actions__list--item
								div.item__container.button__clean
									div.item__container--content
										i.item__icon
											img(src='/img/delete-3.svg')
										span.item__text Trash
							li.actions__list--item
								div.item__container.button__clean
									div.item__container--content
										i.item__icon
											img(src='/img/star.svg')
										span.item__text Starred
							li.actions__list--item
								div.item__container.button__clean
									div.item__container--content
										i.item__icon
											img(src='/img/forum.svg')
										span.item__text Forums
							li.actions__list--item
								div.item__container.button__clean
									div.item__container--content
										i.item__icon
											img(src='/img/flag.svg')
										span.item__text Updates
				main.md__container.md__theme--default
					div.toolbar
						div.page__title
							button.ax__button.button__icon
								i.button__icon--menu
									img(src='/img/menu.svg')
							span.toolbar__title Title
						div.page__action
							button.ax__button.button__refresh
							button.ax__button.button__operations
					div.md__container--content
						div.friends__lists
							div.alphabetical__list
								div.alphabet__index
									i.starred__index
										img(src='/img/star_2.svg')
								ul.friends__list
									li.friend
										img.friend__thumb(src='/img/oval-24_3.svg')
										span.friend__name Carolyn Campbell
									li.friend
										img.friend__thumb(src='/img/oval-24_6.svg')
										span.friend__name Jennifer Carpenter
									li.friend.active
										img.friend__thumb(src='/img/avatar_2@2x.jpg')
										span.friend__name James Connors
									li.friend
										img.friend__thumb(src='/img/oval-24_9.svg')
										span.friend__name Beverly Harris
							div.alphabetical__list
								div.alphabet__index
									i.letter__index A
										
								ul.friends__list
									li.friend
										img.friend__thumb(src='/img/oval-24_7.svg')
										span.friend__name Brittany Delgado
									li.friend
										img.friend__thumb(src='/img/oval-24_5.svg')
										span.friend__name Wayne Ray
									li.friend
										img.friend__thumb(src='/img/oval-24_11.svg')
										span.friend__name Rachel Ross
									li.friend
										img.friend__thumb(src='/img/oval-24_2.svg')
										span.friend__name Bruce Morales
									li.friend
										img.friend__thumb(src='/img/oval-24_4@2x.png')
										span.friend__name Evelyn Morales
									li.friend
										img.friend__thumb(src='/img/oval-24_8@2x.png')
										span.friend__name Marie Fuller
							div.alphabetical__list
								div.alphabet__index
									i.letter__index B
										
								ul.friends__list
									li.friend
										img.friend__thumb(src='/img/oval-24_7.svg')
										span.friend__name Brittany Delgado
									li.friend
										img.friend__thumb(src='/img/oval-24_5.svg')
										span.friend__name Wayne Ray
									li.friend
										img.friend__thumb(src='/img/oval-24_11.svg')
										span.friend__name Rachel Ross
									li.friend
										img.friend__thumb(src='/img/oval-24_2.svg')
										span.friend__name Bruce Morales
									li.friend
										img.friend__thumb(src='/img/oval-24_4@2x.png')
										span.friend__name Evelyn Morales
									li.friend
										img.friend__thumb(src='/img/oval-24_8@2x.png')
										span.friend__name Marie Fuller
						div#userid.user__info
							div.user__wrapper
								div.user__info--avatar
									div.avatar__icons
										button.ax__button.button__back
										div.more_operations
											button.ax__button.button__edit
											button.ax__button.button__operations
									div.avatar__name
										span James Connors
								div.user__info--contacts
									div.contact__block
										div.contact__icons
											i.icon__phone
												img(src='/img/call.svg')
										div.contact__content
											div.contact__item.contact__item--phone
												p (650) 555-1234
												span.small_text Mobile
											div.contact__item.contact__item--phone
												p (323) 555-6789
												span.small_text Work
									div.contact__block
										div.contact__icons
											i.icon__mail
												img(src='/img/email.svg')
										div.contact__content
											div.contact__item
												p aliconnors@example.com
												span.small_text Personal
											div.contact__item
												p ali_connors@example.com
												span.small_text Work
									div.contact__block
										div.contact__icons
											i.icon__location
												img(src='/img/place.svg')
										div.contact__content
											div.contact__item.contact__item--address
												p 2000 SW 1st Ave#[br]San Francisco, CA 94112
												span.small_text Home
											div.contact__item.contact__item--address
												p 1600 Amphitheatre Pkwy Mountain View, CA 94043
												span.small_text Work
									div.contact__edit
										button.ax__button.button__edit--contact






